:root {
    --black: #222;
    --yellow: #FB5;
    --red: #E54;
    --font: 'IBM Plex Mono', monospace;
}

body, h1, h2, h3, ul, li, p, dd, dt, dl {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

body {
    background: #faf6ed;
    color: var(--black); /* para texto */
    -webkit-font-smoothing: antialiased; /* para font ficar mais limpa (moz) */
    display: grid;
    grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
    grid-column: 3 / 5;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--yellow);
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.menu li a {
    display: block;
    padding: 15px 10px;
    margin-right: 10px;
    color: #222;
    text-decoration: none;
    font-family: var(--font);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: .1em;
}

.grid-section {
    grid-column: 2 / 4;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    grid-template-columns: 90px 300px 1fr;
    grid-gap: 20px; /* espaçamento entre colunas */
    margin-bottom: 4rem;
}

.titulo {
    font-family: 'Playfair Display SC', georgia;
    font-size: 6rem;
    line-height: 1;
    font-weight: normal;
    margin-bottom: 1rem;
    grid-column: 1 / 4;
}

.animais h2 {
    font-family: var(--font);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 1rem;
    color: var(--red);
}

.animais h2::before {
    background: var(--yellow);
    content: '';
    display: inline-block;
    height: 10px;
    margin-right: 10px;
    width: 40px;
}

.animais p {
    font-family: Helvetica, Arial;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.animais-lista {
    grid-column: 2 / 3;
    height: 370px;
    overflow-y: scroll;
}

.animais-lista::-webkit-scrollbar {
    width: 18px;
}

.animais-lista::-webkit-scrollbar-thumb {
    background: var(--yellow);
    border-left: 4px solid #faf6ed;
    border-right: 4px solid #faf6ed;
}

.animais-lista::-webkit-scrollbar-track {
    background: #faf6ed;
}

.animais-descricao {
    grid-column: 3;
}

.animais-descricao section {
    margin-bottom: 3rem;
}

.faq-lista {
    grid-column: 2 / 4;
}

.faq-lista dt {
    color: var(--red);
    font-family: var(--font);
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.faq-lista dt::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background: var(--yellow);
}

.faq-lista dd {
    font-family: Helvetica, Arial;
    margin-bottom: .5rem;
    margin-left: 30px;
}


.mapa {
    grid-column: 2;
}

.dados {
    grid-column: 3;
}

.dados li {
    margin-bottom: 1rem;
    font-family: Helvetica, Arial;
}

.dados li::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background: var(--yellow);
}

.copy {
    grid-column: 3 / 5;
    margin-bottom: 2rem;
    background: var(--yellow);
}

.copy p {
    padding: 20px;
    font-family: var(--font);
    font-weight: bold;
}

@media (max-width: 700px) {
    body {
        grid-template-columns: 1fr;
    }

    .menu {
        margin-top: 0;
    }

    .menu, .grid-section, .copy {
        grid-column: 1;
    }

    .grid-section {
        grid-template-columns: 100px 1fr;
        grid-gap: 10px
    }

    .grid-section h1 {
        font-size: 3rem;
    }

    .animais-lista {
        grid-column: 1;
    }

    .faq-lista, .dados, .mapa {
        grid-column: 1 / 3;
    }

    .copy {
        margin-bottom: 0;
    }
}

.js .animais-lista img {
    cursor: pointer;
}

.js .animais-descricao section {
    display: none;
} 

.js .animais-descricao section.active {
    display: block !important;
    animation: toRight .3s forwards;
} 


@keyframes toRight {
    from {
        margin-left: -30px;
        opacity: 0;
    } 

    to {
        margin-right: 0px;
        opacity: 1;
    }
}


.js .faq-lista dt {
    cursor: pointer;
}

.js .faq-lista dt::after {
    content: '⬎';
    display: inline-block;
    height: 10px;
    width: 10px;
    font-size: 14px;
    margin-left: 10px;
} 

.js .faq-lista dt.active::after {
    content: '⬏';
} 

.js .faq-lista dd {
    display: none;
    max-height: 0px;
    animation: animaAccordion .5s forwards;
}

.js .faq-lista dd.active {
    display: block;
}

@keyframes animaAccordion {
    from {
        opacity: 0;
        margin-top: -5px;
    }

    to {
        opacity: 1;
        margin-top: 0px;
        max-height: 100px;
    }
}